<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			get_updates();
			setInterval(get_updates, 10000); // Get newest updates every 10 seconds
		});
	
	
		function get_updates() {
			$('#messages').html(''); // Remove everything
			$.ajax({
				type: "GET",
				dataType: "json",
				<% if (username) {%>
				url: "/api/updates/users/<%=username%>/friends",
				<% } else { %>
				url: "/api/updates/users/",
				<% } %>
				}).done(function(data) {
					for (var i = 0; i < data.length; i++) {
						$("#messages").append(new_message(data[i].message, data[i].id, data[i].fromWhom, data[i].time));
					}

				});
		}
	
		function new_message(message, id, fromWhom, time) {
			return "" +
			"<div id=\"message_" + id + "\" class=\"message\" >" + 
			"<div class=\"msg_content\">" +
			"<p>id: " + id + " <b>From: </b>" + fromWhom + "<b> Time: </b>" + time + "</p>" +
			"<p>" + message + "</p>" +
			
			"<hr>" +
			"</div>" + 
			"</div>"; 
	
		}
	
	
	
	
	</script>
	
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<% if (username) { %>
	<p><%= username %> is logged in</p>
	<p><a href="/users/<%=username%>"><%=username%>'s profile</p>
	<p><a href="/logout">Log out</a></p>
	<p><a href="/settings">Change user settings.</a></p>
	<% } else {%>
	<a href="/login">Log in</a> 
	<% } %>
    <a href="/users">Link to users</a>
	<a href="/register">Register</a>
	<h2>Newest updates:</h2>
	<div id="messages"></div>
	
	<% if (username) { %>
		<h2><a href="/users">Link to users</a></h2>
		<h2>All your friends:</h2>
		<% for (var i = 0; i < users.length; i++) {  %>
			<p><a href="users/<%=users[i]%>"><%=users[i]%></a></p>
		<% } %>
	<% } else { %>
		<h2>All registered users:</h2>
		<% for (var i = 0; i < users.length; i++) {  %>
			<p><a href="users/<%=users[i]%>"><%=users[i]%></a></p>
		<% } %>
	<% } %>
  </body>
</html>