<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<% if (username) { %>
	<p><%= username %> is logged in</p>
	<p><a href="/logout">Log out</a></p>
	<% } %>
    <a href="/users">Link to users</a>
	<a href="/login">Log in</a> 
	<a href="/register">Register</a>
	
	<% if (username) { %>
		<h2>All your friends:</h2>
		<% for (var i = 0; i < users.length; i++) {  %>
			<p><a href="users/<%=users[i]%>"><%=users[i]%></a></p>
		<% } %>
	<% } else { %>
		<h2>All registered users:</h2>
		<% for (var i = 0; i < users.length; i++) {  %>
			<p><a href="users/<%=users[i]%>"><%=users[i]%></a></p>
		<% } %>
	<% } %>
  </body>
</html>