<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<% if (username) { %>
	<p><%= username %> is logged in</p>
	<p><a href="/logout">Log out</a></p>
	<% }
	else{
	%>
	<p><a href="/login">Log in</a></p>
	<%
	}%>
  </head>
  <body>
    <h1><%= title %></h1>
    <% for (var i = 0; i < users.length; i++) { 
    //this = users[i]; %>
    <p><a href="users/<%=users[i]%>"><%=users[i]%></a> <a href="/add_friend/<%= users[i]%>">Add as a friend</a></p>
    
    <% } %>
    <a href="/users">Link to users</a>
	<p><a href="/">Home</a></p>
  </body>
</html>