<!DOCTYPE html>
<html>
  <head>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<style>
	.message { position:relative; width:97%; float:right; }
	.msg_content {background-color:#b0c4de;}
	#messages { position:relative;}
	</style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>-->
    <script type="text/javascript">

      
    $(document).ready(function() {
		var form = $('#messageform');
		get_updates();
        
		form.on('submit', function(event) {
			event.preventDefault();
          
			post_message('#msgfield','#messages', 'update', '');
          
          
      });
        
    });

	$(function() {
		$('.commentform').hide();
		$(document).on('click', '.toggle', function(e) {
		//$('.toggle').click(function(){
			$('#'+$(this).attr('section')).slideToggle('fast');
			return false;
		});
		//$('#about').show();
	});

	function get_updates() {
		$('#messages').html(''); // Remove everything
		$.ajax({
					type: "GET",
					dataType: "json",
					url: "/api/updates/users/<%= title %>",
					//data: {message : $(msgfield).val(), type : type, parent : parent, toWhom : "<%= title %>"}
				  }).done(function(data) {
					for (var i = 0; i < data.length; i++) {
						$("#messages").append(new_message(data[i].message, data[i].id, data[i].fromWhom, data[i].time));
						$("#commentform_"+data[i].id).hide();
						get_comments(data[i].id);
					}
					
				  });
	}
	
	function get_comments(parent_id) {
		$.ajax({
					type: "GET",
					dataType: "json",
					url: "/api/comments/" + parent_id,
					//data: {message : $(msgfield).val(), type : type, parent : parent, toWhom : "<%= title %>"}
				  }).done(function(data) {
					for (var i = 0; i < data.length; i++) {
						$("#message_" + parent_id).append(new_message(data[i].message, data[i].id, data[i].fromWhom, data[i].time));
						$("#commentform_"+data[i].id).hide();
						get_comments(data[i].id);
					}
					
				  });
	}
	
	function new_message(message, id, fromWhom, time) {
		/*
		var data = messages[i];
		var minutes = data.time.getMinutes();
		var hour = data.time.getHours();
		var date = data.time.getDate();
		var month = data.time.getMonth();
		var year = data.time.getFullYear();
		var time = hour + ":" + minutes + " " + date + "-" + month + "-" + year;%>
		*/
		return "" +
		"<div id=\"message_" + id + "\" class=\"message\" >" + 
		"<div class=\"msg_content\">" +
		"<p>id: " + id + " <b>From: </b>" + fromWhom + "<b> Time: </b>" + time + "</p>" +
		"<p>" + message + "</p>" +
		
		"<form class=\"commentform\" id=\"commentform_" + id + "\" action=\"\" method=\"post\">" +
			"Comment:<br/>" +
			"<textarea id=\"msgfield_" + id + "\" type=\"text\" name=\"message\"></textarea>" +
			"<button name=\"submit\" class=\"commentsubmit\" type=\"submit\" id=\"" + id + "\">Say it</button>" + 
		"</form>" + 
		"<p><a href=\"\" section=\"commentform_" + id  + "\" class=\"toggle\">reply</a></p>" +
		"<hr>" +
		"</div>" + 
		"</div>"; 
	
	}
	
	
	function post_message(msgfield, messages_div, type, parent) {
		$.ajax({
				type: "POST",
				dataType: "json",
				url: "<%= post_url %><%= title %>",
				data: {message : $(msgfield).val(), type : type, parent : parent, toWhom : "<%= title %>"}
			  }).done(function(data) {
				get_updates();
				$("#commentform_" + data.id).hide();
			  });
		}
	
	$(function() {
	    
        $(document).on('click', '.commentsubmit[type=submit]', function(e) {
            var id = $(this).attr('id');
			e.preventDefault();
            
			post_message('#msgfield' + '_' + id,'#message_' + id, 'comment', id);
        });
    });
	
	//$(".commentsubmit").click(function(event){
     //event.preventDefault();
    // var id = this.id;
	 // Submit 
	// post_message('#msgfield' + '_' + id,'#message' + '_' + id);
    //});
    </script>
        
    
    </head>
    <body>
    <h1><%= title %></h1>
    <p><%= title %>'s page</p>
	<p><a href="/">Home</a></p>
	<% if (username) { %>
	<p><%= username %> is logged in</p>
	<p><a href="/logout">Log out</a></p>
	<p><a href="/settings">Change user settings.</a></p>
	<% } %>
	
    <% if (update_access) { %>
    <form id="messageform" action="click" method="post">
            What do you have to say:<br/>
            <textarea id="msgfield" type="text" name="message"></textarea>
            <button name="submit" type="submit" id="submit">Say it</button>
    </form>
	<% } %>
	
	<!-- Here comes all the messages -->
    <div id="messages">

	</div>
    <a href="/users">Link to users</a>
    </body>
</html>